# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
build/
dist/
*.spec

# Results
results/
*.txt
!combos.example.txt
!proxies.example.txt
!requirements.txt
results.jsonl
PREMIUM.txt
FREE.txt
BAD.txt
2FA.txt
BANNED.txt

# OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Exe
*.exe
*.pyc
YorichiiChecker
YorichiiChecker-linux
YorichiiChecker-bundle/
YorichiiChecker.pyz

# Env
.env
